# Handle line endings consistently
* text=auto eol=lf

# Treat these as text
*.js text
*.ts text
*.jsx text
*.tsx text
*.json text
*.css text
*.html text
*.md text

# Binary
*.ico binary
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.svg binary
