# fly.toml app configuration file generated for visionpulse-backend
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = "visionpulse-backend"
primary_region = "sin"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  PYTHONUNBUFFERED = "1"
  MAX_UPLOAD_SIZE = "10485760"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = "stop"
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  memory = '2gb'
  cpu_kind = 'shared'
  cpus = 1
